<Installer>
    <Name>AppLanHuyStore</Name>
    <Version>1.0.1</Version>
    <Title>AppLanHuyStore Installer</Title>
    <Publisher>Tuanee2</Publisher>
    <StartMenuDir>AppLanHuyStore</StartMenuDir>
    <TargetDir>@HomeDir@/AppLanHuyStore</TargetDir>

    <RemoteRepositories>
        <Repository>
            <Url>https://tuanee2.github.io/managerStoreageApp</Url>
        </Repository>
    </RemoteRepositories>
</Installer>